button {
    border: none;
    padding: 7px 15px;
    background-color: #6789e6;
    border-radius: 5px;
    color: white;
    &:hover {
        cursor: pointer;
    }
}

.btn {
    border: none;
    padding: 7px 15px;
    background-color: #6789e6;
    border-radius: 5px;
    color: #fff;
    &:hover {
        cursor: pointer;
    }
}