/*
#########################

    Setup Stuff

#########################
*/
html, body, header {
    display: block;
    margin: 0px;
    padding: 0px;
    font-family: arial, sans-serif;
}

html {
    font-size: 16px;
    /* height:100%; */
}

@import "./vars";

body {
    margin: 0;
    /* background-color: var(--color); */
    /* background-color: #fafafa; */
    background-color: var(--primary);
    color: var(--text);
    /* background: linear-gradient(#bbb,#bbb 95%,#383838); */
    /* height:100%; */
}

.flashes {
    padding: 15px;
    background-color: #feb3b3;
    color: black;
    /* border: 2px solid red;
    border-radius: 7px; */
    border-radius: 7px;
    text-align: center;
}

.main-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    grid-template-areas:
        'header header  header  header  header'
        'aside  main    main    main    .'
        'footer footer  footer  footer  footer'
    ;
    margin: 0 auto;
}

@import "./btn";
@import "./a_tag";



h2 {
    border-left: var(--secondary) 3px solid;
    padding-left: 5px;
}

:target{
    background-color: rgb(250, 255, 173);
    color:var(--primary);
}

.r-b {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}